
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    background-image: url("https://freerangestock.com/sample/36401/green-and-white-tablecloth-pattern.jpg");
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.mofo {
    background-color: bisque;

   }
.mofo h1 {
    color: rgb(193, 141, 73);
}

select {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    background-color: #f8f9fa; 
    border: 2px solid rgb(193, 141, 73); 
    border-radius: 5px;
    color: #495057; 
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
    margin-bottom: 10px;
    font-family:  "Oswald", sans-serif;
    font-size: large;
}

select:hover {
    border-color: #007bff;
    background-color: #e9ecef; 
}

option {
    padding: 10px;
    background-color: #fff; 
    color: #495057; 
}

select option:hover {
    background-color: #007bff; 
    color: #fff; 
}

