
body {
    width: 80vw;
    margin: auto;
}

.mofo {
    width: 300px;
    border-radius: 5px;
    text-align: center;
    grid-area: "mofos";

}
.mofo h1 {
    padding-top: 10px;
    font-size: 24px;
}

#hflex {
    background-color: rgba(0, 0, 255, 0.6);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    column-gap: 20vw;
    
}
#vflex {
    background-color: rgba(246, 111, 0, 0.711);
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1.5em;
    
}
#form {
    grid-area: "form"
}