
@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

body {
    background-image: url("alex-ai.jpg");
    font-family: "Freeman", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.mofo {    
    background-color: rgb(45, 182, 220);   
}
.mofo h1 {
    color: white;
}

select {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    background-color: #f8f9fa; 
    border: 2px solid rgb(20, 44, 154); 
    border-radius: 5px;
    color: rgb(0, 157, 255); 
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
    margin-bottom: 10px;
    font-family:  "Oswald", sans-serif;
    font-size: large;
}

select:hover {
    border-color: #007bff;
    background-color: #e9ecef; 
}

option {
    padding: 10px;
    background-color: #fff; 
    color: #495057; 
}

select option:hover {
    background-color: #007bff; 
    color: #fff; 
}
.header {
    background-color: white;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 2px 2px 10px 4px rgba(73, 80, 87, 0.6);
    font-size: 50px;
}
