
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Russo+One&display=swap');

body {
    background-image: url("alex-ai.jpg");
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.mofo {
    width: 310px;
    border-radius: 5px;
    background-color: grey;
    text-align: center;
    border: 2px solid lightskyblue;

}
.mofo h1 {
    
    font-size: 24px;
    margin-top: 1em;
}

select {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    background-color: grey; 
    border: 2px solid lightskyblue; 
    border-radius: 5px;
    color: #495057; 
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
    margin-bottom: 10px;
    font-family:  "Oswald", sans-serif;
    font-size: large;
}

select:hover {
    border-color: #007bff;
    background-color: #e9ecef; 
}

option {
    padding: 10px;
    background-color: #fff; 
    color: #495057; 
}

select option:hover {
    background-color: #007bff; 
    color: #fff; 
}
.header {
    background-color: white;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 2px 2px 10px 4px rgba(73, 80, 87, 0.6);
    font-size: 50px;
}